
@mixin animation--fadein($x, $y, $z) {
  $animation-name: fadein-#{unique-id()};

  animation-name: $animation-name;
  animation-duration: 1s;
  animation-fill-mode: both;

	@keyframes #{$animation-name} {
		0% {
			opacity: 0;
			transform: translate3d($x, $y, $z);
		}
		100% {
			opacity: 1;
			transform: none;
		}
	}
}
