// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  margin: 0;
}


@font-face {
	font-family: 'SquadaOne';
	src:font-url('SquadaOne/SquadaOne-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
